body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 30px;
}

.container {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}

input,
textarea,
button {
  width: fit-content;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
}
button#saveNote {
  width: 50%;
  display: block;
  margin: 0 auto;
}
button:hover {
  background: #0056b3;
}

.hidden {
  display: none;
}

.note {
  background: #eef;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

#content {
  width: 95%;
  height: 200px;
  resize: none;
}
